fonttools
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
gradio
imageio
pyimage		
ipykernel
ipython
ipython-genutils
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
keras
Keras-Preprocessing
matplotlib
mahotas
matplotlib-inline
numpy
opencv-python
opencv-python-headless
pandas
scikit-image
scikit-learn
scipy
pylab-sdk
pyspark
seaborn
torch
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-datasets
tensorflow-hub
xgboost
