jupyterlab
jupyter-client
jupyter-core
jupyter-server
jupyterlab-pygments
jupyterlab-server
matplotlib
matplotlib-inline
numpy
pandas
pyspark
seaborn
torch
dash
torch
torchvision
numpy
transformers
albumentations
opencv-contrib-python
imageio
imageio-ffmpeg
torchmetrics
prettytable
d3blocks
diffusers
gradio
openai
accelerate
pygwalker
pandas
numpy
fastparquet
seaborn
requests
pyspark
plotly
pymongo
scikit-learn
matplotlib
itables